<% provide(:title, "Edit course") %>
<h1>Edit course information</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'shared/error_messages_course'  %>

		<%= form_for(:course, url: supervisors_course_path(@course), html:{method:'patch'}) do |f|  %>

			<%= f.label "Course name"  %>
			<%= f.text_field :name, class: "form-control" %>

			<%= f.label "Description" %>
			<%= f.text_field :description, class: "form-control" %>

			<%= f.submit("Save changes", class: "btn btn-primary") %>
		<% end  %>
	</div>
</div>
