<% provide(:title, @course.name) %>
<h1>Course <%= @course.name%></h1>
<p>
<%= @course.name %> |
<%= @course.description %> | 
<%= link_to "Users attending course", supervisors_course_users_path(@course)  %>
</p>

<p><b>Subjects in course</b></p>
<p>
<% @course.subjects.each do |s| %> 
<%= s.name %> |
<%= s.description %>
<br>
<% end %>
</p>

<p><b>
	<% if current_user.supervisor? %>
	<%= link_to "Edit", edit_supervisors_course_path(@course) %> 
	<% end %>
</p></b>

