<% provide(:title, "Subject progress") %>


<p><font size="10"><b><%= @subject.name %></b></font></p>
<p><%= @subject.description %></p>
<br>

<%= form_tag(user_course_subjects_path(@user, @course)) do %>
<ul>
	<% @subject.tasks.each do |t| %>
<!-- current_user co hoan thanh task nay  -->
	<!-- -->
	<li>
		<%= label_tag "name", "Name"  %> 
		<%= hidden_field_tag "subject_id", @subject.id %>
		<% if !t.users.all.find_by(id: current_user.id).nil? %>
		<%= t.name %>
		Finish <%= check_box_tag "task_id[]", t.id, true, {:disabled => true, multiple: true, :class => "myclass"}%>
		
		<% else %>
		<%= t.name %>
		Finish <%= check_box_tag "task_id[]", t.id, nil, {multiple: true, :class => "myclass"}%>
		<% end %>
		
	</li>
		
	<% end %>
</ul>
<%= submit_tag "Update" %>
<% end %>

<b>Basic information </b>
<p>Start date: <%= @subject.start_date %></p>
<p>End date: <%= @subject.end_date %></p>
<p>Status: 
	<% if !@subject.users.find_by(id: current_user.id).nil? %>
	Finished
	<% else %>
	Learning
	<% end %>
</p>

<b>Instruction</b>
<p><%= @subject.instruction %></p>