<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- rails send POST if @user.new_record return true, otherwise send PATCH !-->
    <%= form_for(:supervisor, url: supervisors_user_path(@supervisor), html:{method:'patch'}) do |f| %>
      <%= render 'shared/error_messages_supervisors' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @supervisor %>
      <a href="http://gravatar.com/emails" target=_blank>Change</a>
    </div>
  </div>
</div>